@use "./base.scss";


body {
  background: url("./static/background.jpg") no-repeat center center fixed;
  background-size: cover; // Make it scale to cover the viewport
}

//This is responsable for gaps between sidebars
#quartz-body {
  column-gap: 1rem; // or more!
  row-gap: 1rem;
}

.center,
footer,
.sidebar.left
{  
  border-radius: 0.5rem; 
  background-color: var(--light) ;
}

//Making article title slightly bigger than H1 
.article-title{
  font-size: 3rem
}

.center,
footer {
  box-sizing: border-box;
  padding: 1.5rem;  // or whatever you want
}

//Reordering lef-sidebar on mobile
/* Default desktop styling: Explorer appears below PageTitle/Spacer */
.explorer {
  order: 0; /* Ensure it stays in its natural position */
}

/* Mobile mode: Move Explorer next to Search */
@media (max-width: 768px) {
    
  .search-button{
    background-color: var(--lightgray) !important;
  }

  .overlay-explorer {
    li {
    padding: 0.5rem 0rem;
    }
  }

  .sidebar.left {
    //padding:3rem gap: 2rem;
    //height: 100vh !important;
    //padding: 3rem 2rem 2rem !important;
    //display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar.left{
    padding: 0.5rem !important;
    position:static !important;
  }
  
  .overlay-explorer-content{
    box-sizing: border-box;
    padding: 1rem !important;  // or whatever you want
  }

  .search-bar{
    font-size:1.8rem !important;
  }

  .overlay-explorer {
    font-size:1.8rem !important;
    order: 2; /* Place Explorer after Flex (which contains Search) */
    margin-top: 0; /* Remove any default spacing */
    margin-bottom: 0;
    padding: 0 !important;
    align-self: center;
  }
  .flex {
    order: 1; /* Ensure Flex (with Search) comes before Explorer */
    display: flex;
    flex-direction: row;
  }

  .overlay-explorer-content {
    padding: 0 !important;
    background-color: var(--light) !important;
    border-radius: 8px;
  }

.darkmode{
  height: 32px!important;
  width: 34px !important;
  border-radius: 4px;
  background-color: var(--lightgray) !important;

  display: flex;                /* Enable flexbox */
  align-items: center;         /* Vertical centering */
  justify-content: center;     /* Horizontal centering */
  padding: 0;          
  
}
.dayIcon,
.nightIcon {
  width: 18px !important;   /* or any desired size */
  height: 18px !important;
  margin: 0 !important;
}
}


body[data-slug="404"] #quartz-body .sidebar.left {
   background: transparent;
}
